.board {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
}

.board-disabled{
  .row{
    background-color: black;
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.piece {
  height: 90%;
  max-height: 100%;
  max-width: 100%;
}

.tile {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  max-height: 100%;
  max-width: 100%;
}

.row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.invalid {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.available-move {
  background-color: rgba(255, 136, 0, 0.5);
  width: 50%;
  height: 50%;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 25%;
}

.row:nth-child(odd) {
  .tile {
    aspect-ratio: 1;
    width: 100%;
  }
  .tile:nth-child(even) {
    background-color: #009970;
  }
  .tile:nth-child(odd) {
    background-color: #d9dedd;
  }
}

.row:nth-child(even) {
  .tile {
    aspect-ratio: 1;
    width: 100%;
  }
  .tile:nth-child(odd) {
    background-color: #009970;
  }
  .tile:nth-child(even) {
    background-color: #d9dedd;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(2deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(2deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-2deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(2deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-2deg);
  }
}

// .game-content{
//   display: flex;
// }

.removed-pieces{
  height: 5em;
  display: grid;
  grid-template-columns: repeat(16, calc(100%/16));
  // display: flex;
  // flex-direction: column;
  // justify-items: start;
}